# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. SQL

Some of the commonly used libraries used by Data Scientists include:
1. SciKit
2. Matplotlib
3. Numpy
4. Scipy

| Data Science Tools |
|--------------------|
| Apace Spark |
| Jupyter Notebook |
| R Studio |
| IBM Watson |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3 * 4) + 5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

__Objectives:__
- List popular languages for Data Science
- List popular Data Science Libraries
- List popular Data Science Tools

## Author
Zul Ikram Musaddik Rayat